*.\[\]
!split_no_commands.\[\]
!split_japanese_and_emoji.\[\]
!split_commands_with_an_argument_includes_angle_brackets.\[\]
!split_commands_with_an_argument_includes_curly_brackets.\[\]
!split_commands_with_an_argument_includes_square_brackets.\[\]
!split_commands_with_two_arguments_includes_square_brackets.\[\]
!split_nesting_commands.\[\]
!split_newlines.\[\]